# Node files
node_modules
src
npm-debug.log
doc

# IDE files
.idea

# VCS
.git
.gitignore
*.md

# Things that should be eliminated by proper testing later
.voximplant-auth.yml
voximplant-publisher.yml